body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.alinhamento {
    text-align: center;
}

.paragrafo {
    margin: 10px 0;
}
